<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KekLab</title>
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/fonts.css">
    <script src="static/js/main.js"></script>
</head>
    <body>
        <div class="main-form">
            <div>
                <div class="logo"><span>keklab</span> by Oilstone</div>
                <div class="block">
                    <div><span class="text-process">Process your image</span></div>
                    <div class="hint">Add files you want to be processed</div>
                    <form method=post enctype=multipart/form-data action=upload>
                        <input type="file" name="image">
                        <p><span class="upload-text">Add file</span> or drop files here</p>
                        <button class="upload" type="submit">Upload</button>
                    </form>
                </div>
                <div class="preview">
                    <div>
                        <img class="image-bg" src="static/image/landing_preview.png"/>
                        <div class="text">
                            Choose image and upload
                        </div>
                    </div>
                    <img class="image-arrow" src="static/image/arrow.svg"/>
                    <div>
                        <img class="image-bg" src="static/image/landing_result.png"/>
                        <div class="text">
                            Your photo will be processed automatically
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
